body {
  font-size: 2rem;
  background-image: url("lafoto.jpg");
  background-repeat: repeat-y;
  background-size: 100%;
  color: aliceblue;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

#page-wrapper {
  margin-left: 10px;
}

#footer {
  text-align: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00beef;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5em;
}

.buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
  width: 100px;
}

.btns {
  margin-right: 5px;
  padding: 10px;
  background-color: aquamarine;
  border-radius: 10%;
}


iframe {
  position: absolute;
  right: 25px;
  bottom: 100px;
  width: 450px;
  height: 315px;
}
#contentpage {
  position: absolute;
  bottom: 25px;
  right: 25px;
}
.text {
  display: flex;
  height: 75px;
  width: 200px;
  color: #00beef;
  opacity: 95%;
  border: 1px solid plum;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#banner {
  width: 100%;
  height: 50px;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 2px 2px #000;
}

.dragonflight {
  color: rgb(171, 186, 201);
  text-decoration: underline;
  font-family: lifecraftfont;
  margin: 0 4px;
}

#channel-link {
  color: plum;
  margin-left: 4px;
}

#contentframe a:hover {
  color: #00beef;
  text-decoration: underline;
}
@media (max-width: 720px) {
  #contentpage {
  font-size: 1.5rem;
  bottom: 50px;
  }
  iframe {
    width: 220px;
    height: 150px;
  }
}